<div class="item">
    <div>Avatar URL</div>
    <input 
        type="url" 
        name="avatar_url" 
        placeholder="http://"
        value="{{ student.avatar_url }}"
    >
</div>

<div class="item">
    <div>Nome</div>
    <input 
        type="text"
        name="name"
        placeholder="Nome completo"
        value="{{ student.name }}"
    >
</div>

<div class="item">
    <div>Email</div>
    <input 
        type="email"
        name="email"
        value="{{ student.email }}"
    >
</div>

<div class="item">
    <div>Idade</div>
    <input 
        type="date" 
        name="birth"
        value="{{ student.birth }}"
    >
</div>

<div class="item">
    <div>Ano Escolar</div>
    <select name="school_year">
        <option 
            value="5º ano do ensino fundamental" 
            {% if student.school_year == '5º ano do ensino fundamental' %}selected{% endif %}>
            5º ano do ensino fundamental
        </option>
        <option 
            value="6º ano do ensino fundamental" 
            {% if student.school_year == '6º ano do ensino fundamental' %}selected{% endif %}>
            6º ano do ensino fundamental
        </option>
        <option 
            value="7º ano do ensino fundamental" 
            {% if student.school_year == '7º ano do ensino fundamental' %}selected{% endif %}>
            7º ano do ensino fundamental
        </option>
        <option 
            value="8º ano do ensino fundamental" 
            {% if student.school_year == '8º ano do ensino fundamental' %}selected{% endif %}>
            8º ano do ensino fundamental
        </option>
        <option 
            value="9º ano do ensino fundamental" 
            {% if student.school_year == '9º ano do ensino fundamental' %}selected{% endif %}>
            9º ano do ensino fundamental
        </option>
        <option 
            value="1º ano do ensino médio" 
            {% if student.school_year == '1º ano do ensino médio' %}selected{% endif %}>
            1º ano do ensino médio
        </option>
        <option 
            value="2º ano do ensino médio" 
            {% if student.school_year == '2º ano do ensino médio' %}selected{% endif %}>
            2º ano do ensino médio
        </option>
        <option 
            value="3º ano do ensino médio" 
            {% if student.school_year == '3º ano do ensino médio' %}selected{% endif %}>
            3º ano do ensino médio
        </option>
    </select>
</div>

<div class="item">
    <div>Carga Horária Semanal</div>
    <input 
        type="number" 
        name="hours"
        value="{{ student.hours }}"
    >
</div>


<button type="submit">Salvar</button>
